In [1]:
data = {'Name':'Mohan','Age':23,'Address':'Noida'}

print(data)

{'Name': 'Mohan', 'Age': 23, 'Address': 'Noida'}

In [2]:
print(type(data))

<class 'dict'>

In [3]:
# key position data type use

In [4]:
data = {12:'One',23:True}

print(data)

{12: 'One', 23: True}

In [5]:
data = {45.8:'One',23.8:True}

print(data)

{45.8: 'One', 23.8: True}

In [6]:
data = {45.8-8j:'One',23.8-9j:True}

print(data)

{(45.8-8j): 'One', (23.8-9j): True}

In [7]:
data = {(1,23,5):'One',(3,5456):True}

print(data)

{(1, 23, 5): 'One', (3, 5456): True}

In [8]:
data = {None:'One',False:True}

print(data)

{None: 'One', False: True}

In [9]:
# key:- allowed, immutable, can not be changed

In [10]:
# value:- all data types

In [11]:
data = {1:[1,234,235],
       2:(1,24,35,66),
       3:True,
       4:'Mohan',
        5:None,
       6:{1,24,35,6}}

print(data)

{1: [1, 234, 235], 2: (1, 24, 35, 66), 3: True, 4: 'Mohan', 5: None, 6: {24, 1, 35, 6}}

In [12]:
# what are not allowed at key position

In [13]:
# mutable

In [14]:
# dict,list,set

In [15]:
data = {[1,234,5]:True}
print(data)

TypeError: unhashable type: 'list'

In [16]:
data = {{1,234,5}:True}
print(data)

TypeError: unhashable type: 'set'

In [17]:
data = {{'Name':'Mohan'}:True}
print(data)

TypeError: unhashable type: 'dict'

In [19]:
# netsed dict:- we can create dictionary inside dictionary, at value position

In [20]:
data = {'bank1':{'Noida':12,'Delhi':34}}

print(data)

{'bank1': {'Noida': 12, 'Delhi': 34}}

In [21]:
# empty:- 

data = {}

print(data)

{}

In [22]:
print(type(data))

<class 'dict'>

In [23]:
data = {'name':'Mohan','Age':34,'Class':12,'Address':'Noida'}
print(data)

{'name': 'Mohan', 'Age': 34, 'Class': 12, 'Address': 'Noida'}

In [24]:
data[0]

KeyError: 0

In [25]:
# dict does not supports idexing

In [26]:
# dict supports key value assignments

In [27]:
data = {0:[1,23,43,5],1:'Mohan',3:'Ajay'}

In [28]:
print(data)

{0: [1, 23, 43, 5], 1: 'Mohan', 3: 'Ajay'}

In [29]:
data[0]

[1, 23, 43, 5]

In [30]:
data[1]

'Mohan'

In [32]:
data[3]

'Ajay'

In [33]:
data[3] = 'Ajay Verma'

In [34]:
print(data)

{0: [1, 23, 43, 5], 1: 'Mohan', 3: 'Ajay Verma'}

In [36]:
data[2] = 'Noida'

In [37]:
print(data)

{0: [1, 23, 43, 5], 1: 'Mohan', 3: 'Ajay Verma', 2: 'Noida'}

In [38]:
len(data)

4

In [40]:
list(data)

[0, 1, 3, 2]

In [41]:
tuple(data)

(0, 1, 3, 2)

In [42]:
set(data)

{0, 1, 2, 3}

In [43]:
data = {'name':'Mohan','Age':34,'Class':12,'Address':'Noida'}
print(data)

{'name': 'Mohan', 'Age': 34, 'Class': 12, 'Address': 'Noida'}

In [44]:
list(data)

['name', 'Age', 'Class', 'Address']

In [45]:
# some basic op

In [46]:
a = {'name':'kajal'}
b = {'Age':23}
c = {'Address':'Noida'}

In [47]:
a+b+c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [48]:
a-b-c

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [49]:
a = [1,234,3,124,5]

a * 2

[1, 234, 3, 124, 5, 1, 234, 3, 124, 5]

In [50]:
a = {'name':'kajal'}
b = {'Age':23}
c = {'Address':'Noida'}

In [51]:
c * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [53]:
data = {'name':'Mohan','Age':34,'Class':12,'Address':'Noida','name':'ravi Verma'}
print(data)

{'name': 'ravi Verma', 'Age': 34, 'Class': 12, 'Address': 'Noida'}

In [55]:
data['Age'] = 28

In [56]:
print(data)

{'name': 'ravi Verma', 'Age': 28, 'Class': 12, 'Address': 'Noida'}

In [58]:
data['Address'] = 'Delhi'

In [59]:
print(data)

{'name': 'ravi Verma', 'Age': 28, 'Class': 12, 'Address': 'Delhi'}

In [60]:
# 

data = {'Delhi':[{'Bank1':1200,'Bank2':2300}]}

In [61]:
print(data)

{'Delhi': [{'Bank1': 1200, 'Bank2': 2300}]}

In [65]:
data['Delhi'][0]['Bank1'] = 0

In [66]:
print(data)

{'Delhi': [{'Bank1': 0, 'Bank2': 2300}]}

In [71]:
data['Delhi'][0]['Bank2'] = 0

In [72]:
print(data)

{'Delhi': [{'Bank1': 0, 'Bank2': 0}]}

# Methods

In [74]:
print(dir(data))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [75]:
all_methods = ['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [76]:
print(all_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [77]:
print(len(all_methods))

11

In [78]:
students = {'Name':'Jatin','Age':21,'Class':12,'Sec':'A'}

print(students)

{'Name': 'Jatin', 'Age': 21, 'Class': 12, 'Sec': 'A'}

In [79]:
students.clear()

In [80]:
print(students)

{}

In [81]:
len(students)

0

In [82]:
harry = {'Bank1':1200,'Bank2':2300}

robin = harry

In [83]:
# deep copy

In [85]:
robin['Bank2'] = 1234567

In [86]:
print(robin)

{'Bank1': 1200, 'Bank2': 1234567}

In [87]:
print(harry)

{'Bank1': 1200, 'Bank2': 1234567}

In [88]:
lucky = {'Bank1':100,'Bank2':200}
karan = lucky.copy()

In [89]:
karan

{'Bank1': 100, 'Bank2': 200}

In [90]:
lucky

{'Bank1': 100, 'Bank2': 200}

In [91]:
lucky['Bank3'] = 2345678

In [92]:
print(lucky)

{'Bank1': 100, 'Bank2': 200, 'Bank3': 2345678}

In [93]:
print(karan)

{'Bank1': 100, 'Bank2': 200}

In [95]:
# shallow copy

In [96]:
print(all_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [97]:
keys_list = ['eid','name','salary','dept','address']

In [98]:
emp_dict  = {}

emp_dict = emp_dict.fromkeys(keys_list)

In [99]:
print(emp_dict)

{'eid': None, 'name': None, 'salary': None, 'dept': None, 'address': None}

In [100]:
emp_dict['name'] = 'Jatin'

In [101]:
emp_dict['salary'] = 23456

In [102]:
print(emp_dict)

{'eid': None, 'name': 'Jatin', 'salary': 23456, 'dept': None, 'address': None}

In [103]:
print(all_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [104]:
students = {'Name':'Jatin','Age':21,'Class':12,'Sec':'A'}

print(students)

{'Name': 'Jatin', 'Age': 21, 'Class': 12, 'Sec': 'A'}

In [108]:
students['Sec'] = 'L'

In [107]:
students.get('Sec') = 'K'

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1811168037.py, line 1)

In [109]:
students.get('Sec')

'L'

In [111]:
list(students)

['Name', 'Age', 'Class', 'Sec']

In [112]:
students.keys()

dict_keys(['Name', 'Age', 'Class', 'Sec'])

In [113]:
students.values()

dict_values(['Jatin', 21, 12, 'L'])

In [114]:
students

{'Name': 'Jatin', 'Age': 21, 'Class': 12, 'Sec': 'L'}

In [115]:
students.items()

dict_items([('Name', 'Jatin'), ('Age', 21), ('Class', 12), ('Sec', 'L')])

In [116]:
# 'pop', 'popitem', 'setdefault', 'update',

In [117]:
students

{'Name': 'Jatin', 'Age': 21, 'Class': 12, 'Sec': 'L'}

In [118]:
students.pop('Age')

21

In [120]:
students.pop('Address')

KeyError: 'Address'

In [122]:
students

{'Name': 'Jatin', 'Class': 12, 'Sec': 'L'}

In [123]:
students.popitem()

('Sec', 'L')

In [124]:
students

{'Name': 'Jatin', 'Class': 12}

In [125]:
students.popitem()

('Class', 12)

In [126]:
students

{'Name': 'Jatin'}

In [127]:
students = {'Name':'Jatin','Age':21,'Class':12,'Sec':'A'}

print(students)

{'Name': 'Jatin', 'Age': 21, 'Class': 12, 'Sec': 'A'}

In [128]:
car_collections = {'BMW':234567,'Kia':87654,'Audi':76549,'Maruti':87654,'Honda':87654}

In [129]:
print(car_collections)

{'BMW': 234567, 'Kia': 87654, 'Audi': 76549, 'Maruti': 87654, 'Honda': 87654}

In [130]:
car_collections.setdefault('Mahindra Thar')

In [131]:
car_collections

{'BMW': 234567,
 'Kia': 87654,
 'Audi': 76549,
 'Maruti': 87654,
 'Honda': 87654,
 'Mahindra Thar': None}

In [132]:
car_collections.setdefault('Honda',0)

87654

In [133]:
car_collections

{'BMW': 234567,
 'Kia': 87654,
 'Audi': 76549,
 'Maruti': 87654,
 'Honda': 87654,
 'Mahindra Thar': None}

In [134]:
car_collections.setdefault('Tata',876543)

876543

In [135]:
car_collections

{'BMW': 234567,
 'Kia': 87654,
 'Audi': 76549,
 'Maruti': 87654,
 'Honda': 87654,
 'Mahindra Thar': None,
 'Tata': 876543}

In [136]:
# update

In [139]:
car_collections.update({'Audi':9876545678})

In [140]:
car_collections

{'BMW': 234567,
 'Kia': 87654,
 'Audi': 9876545678,
 'Maruti': 87654,
 'Honda': 87654,
 'Mahindra Thar': None,
 'Tata': 876543}

In [142]:
car_collections['Honda'] = 876543456789

In [143]:
car_collections

{'BMW': 234567,
 'Kia': 87654,
 'Audi': 9876545678,
 'Maruti': 87654,
 'Honda': 876543456789,
 'Mahindra Thar': None,
 'Tata': 876543}

In [144]:
car_collections.update({'Renault':34567,'Toyota':76543})

In [145]:
car_collections

{'BMW': 234567,
 'Kia': 87654,
 'Audi': 9876545678,
 'Maruti': 87654,
 'Honda': 876543456789,
 'Mahindra Thar': None,
 'Tata': 876543,
 'Renault': 34567,
 'Toyota': 76543}

In [146]:
car_collections['Skoda'] = 23456
car_collections['Nissan'] = 76543

In [147]:
car_collections

{'BMW': 234567,
 'Kia': 87654,
 'Audi': 9876545678,
 'Maruti': 87654,
 'Honda': 876543456789,
 'Mahindra Thar': None,
 'Tata': 876543,
 'Renault': 34567,
 'Toyota': 76543,
 'Skoda': 23456,
 'Nissan': 76543}

In [148]:
a = {'name':'kajal'}
b = {'Age':23}
c = {'Address':'Noida'}

In [149]:
d = {}

In [150]:
d.update(a)
d.update(b)
d.update(c)

In [151]:
d

{'name': 'kajal', 'Age': 23, 'Address': 'Noida'}

In [152]:
# unpacking

In [153]:
e = {**a,**b,**c}

In [154]:
print(e)

{'name': 'kajal', 'Age': 23, 'Address': 'Noida'}